$marker-radius: 24px;

$gridElement-width: 160px;
$gridElement-height: 128px;

$zIndex-gridElement: 5;
$zIndex-marker-ping: 10;
$zIndex-marker-hl: 11;
$zIndex-marker-label: 15;
$zIndex-line: 0;				//<== Should be 13 but due to stacking context gubbins that doesn't work. Values of 0-4 work.
$zIndex-search: 20;

	*{
		box-sizing: border-box;
	}

	.map-ctnr {
		position: absolute;
		> img {
			filter: brightness(75%);
		}
		//DON'T add a z-index! It's very tenuous right now with all the overlapping map elements...
	}

//Optional: Mute overly-bright colours on the map element.
	.map-shroud {
		position: absolute;
		top: 0;
		background-color: rgba(0,0,0,0.25);
	}


//////////////////////////
//  GENERATED CONTENT   //
//////////////////////////

//"Screen"
    .gridElement-ctnr {
        position: absolute;
        width: $gridElement-width;
        height: $gridElement-height;
        z-index: $zIndex-gridElement;
        &:hover {
            >.marker-hl, .gridElement-border{
                display: block;
            }
        }
    }
    .gridElement-border {
        display: none;
        width: 100%;
        height: 100%;
        border: solid limegreen 2px;
        box-shadow: 0 0 1px 1px, 0 0 1px 1px inset;
    }

//Hold display when marker is selected
    .gridElement-hold-display {
        >.marker-hl, .gridElement-border {
            display: block;
        }
    }



//Markers
    .marker-hl {
        display: none;
        z-index: $zIndex-marker-hl;
        position: absolute;
        border-radius: 50%;
        width: $marker-radius * 2;
        height: $marker-radius * 2;
        transform:translate(-50%, -50%);
        border: solid rgba(255,255,255,0.8) 2px;
        background-color: rgba(255,255,255,0.5);
		pointer-events: auto;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background-color: rgba(255,255,255,0.90625);
        }
    }

//Hold display when marker is selected
    .marker-hl:hover, .marker-hold-display {
        border: solid white 2px;
        background-color: rgba(255,255,255,0.75);
		>.marker-ping {
            display: none;
        }
    }



    .marker-ping {
        z-index: $zIndex-marker-ping;
        position: absolute;
        background: radial-gradient(closest-side, transparent, rgba(255,255,255,0.66));
        border: solid rgba(255,255,255,1) 2px;
        border-radius: 50%;
        animation-name: ping;
        animation-duration: 1.125s;
        animation-iteration-count: infinite;
    }

    @keyframes ping {
        from {
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            opacity: 100%;
        }
        33% {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        to {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }



//Labels    
    .marker-label {
        position: absolute;
        font-weight: 1.4;
        font-size: 18px;
        text-align: center;
        width: 160px;
        height: auto;
        min-height: 24px;
        transform: translate(-50%, -50%);
        background-color: brown;
        color: white;
        display: none;
		z-index: $zIndex-marker-label;
    }
    .label-shown {
        display: block;
    }


//Lines    
    .line {
        position: absolute;
        width: 4px;
        border-radius: 2px;
        background-color: cyan;
        box-shadow: 0,0,6px,6px,white;
        z-index: $zIndex-line;
    }