/*
////////////////////////////
//  SEARCH LIST & INPUT   //
////////////////////////////

#search {
    display: none;
    position: absolute;
	white-space: nowrap;
    z-index: $zIndex-search;
    background-color: grey;
    color: white;
    ul {
        list-style: none;
    }
}

li {
    &:hover {
        cursor: pointer;
    }
}

.li-grey {
    color: black;
}
*/


html, body {
	height: 100%;
}
#search-ctnr-outer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	max-height: 100%;
	padding: 40px;
	box-sizing: border-box;
	z-index: 20;
}
#search-ctnr-inner {
	background: dimgrey;
	color: white;
	border-radius: 20px;
	width: calc(100%);
	height: calc(100%);
	max-height: 100%;
	padding: 30px 0;
	box-sizing: border-box;
}
#search-ctnr-scrollArea {
	height: 100%;
	margin: 30px;
	margin-top: 0;
	overflow: scroll;
}
#location-menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 120%;
}
#btn-clear, #search-input {
	padding: 10px;
	box-sizing: border-box;
	border: solid white 1px;
	border-radius: 4px;
}
#btn-clear, #search-input, .location-list {
	margin-top: 0;
	width: 220px;
	margin-bottom: 10px;
	margin-right: 30px;
}
#location-menu h3 {
	margin-top: 0;
	margin-bottom: 10px;
}
#location-menu ul {
	margin-top: 10px;
	padding-left: 5px;
	list-style: none;
}
#location-menu li:before {
	content: "➢";			/*➣ or ➢*/
	margin-right: 10px;
}
#location-menu li {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
	padding-top: 9px;
	padding-bottom: 9px;
}
#location-menu li:hover, #btn-clear:hover {
	background: green;
	cursor: pointer;
}