    $marker-radius: 24px;

    $index-marker-ping: 0;
    $index-marker-hl: 1;

//Markers
    .marker {
        display: none;
        z-index: $index-marker-hl;
        position: absolute;
        border-radius: 50%;
        width: $marker-radius * 2;
        height: $marker-radius * 2;
        transform:translate(-50%, -50%);
        border: solid rgba(255,255,255,0.8) 2px;
        background-color: rgba(255,255,255,0.5);
        &:hover {
            cursor: pointer;
        }
        &:active {
            background-color: rgba(255,255,255,0.90625);
        }
    }
    .marker-display {
        display: inline;
    }

//Pause "ping" when marker is hovered or selected
    .marker:hover, .marker-selected {
        >.marker-ping {
            display: none;
        }
        border: solid white 2px;
        background-color: rgba(255,255,255,0.75);
    }

    .marker-ping {
        z-index: $index-marker-ping;
        position: absolute;
        background: radial-gradient(closest-side, transparent, rgba(255,255,255,0.66));
        border: solid rgba(255,255,255,1) 2px;
        border-radius: 50%;
        animation-name: ping;
        animation-duration: 1.125s;
        animation-iteration-count: infinite;
    }

    @keyframes ping {
        from {
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            opacity: 100%;
        }
        33% {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        to {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }